nav {
    width: 100%;
}
#depan {
    height: 300px;
    left: 20%;
    top: 20%;
    z-index: 4;
    text-align: center;
}
#depan h1 {
    font-size: 70px;
    color: white;
}
#depan h4{
    color: #fff;
}

#content2 .container {
    top: 300px;
  }
#content2 span {
    color: #ffffff;
    margin-left: 100px;
    font-size: 50px;
}
#content2 span p {
    font-size: 15px;
    margin-left: 100px;
    
}

  #content2 .container {
    top: 300px;
  }
#content3 span {
    color: #ffffff;
    margin-left: 100px;
    font-size: 50px;
}
#content3 span p {
    font-size: 15px;
    margin-left: 100px;
}

#feature {
    height: 400px;
    width: 500px;
    top: 10%;
    left: 50%;
    background-color: #ee0000;
}
.timeline {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    position: relative;
    height: 250px;
  }
  .ellipse-full-timeline {
    top: 3%;
    left: 0;
    position: absolute;
  }
  .v-line {
    border-left: thin solid #fff;
    height: 140px;
    top: 8px;
    left: 8px;
    position: absolute;
  }
  
  .ellipse-outline-timeline {
    bottom: 35%;
    position: absolute;
  }
  
  .ellipse-second-outline-timeline {
    bottom: 11%;
    position: absolute;
  }
  
  .timeline-title-container {
    width: 50%;
    margin-left: 4em;
  }
  
  .timeline-title {
    font-size: 24px;
    color: #F0AD45;
  }
  
@media screen and (max-width:1100px) { 
    #web-bg {
        opacity: 0;
    }
    #ph-bg {
        opacity: 1 ;
    }
    #content {
        position: absolute;
        top: 30%;
        left: 8%;
    }
    #content h1,h3 {
        color: white;
        font-size: 25px;
    }
    #content h3 {
        font-size: 13px;
        left: 15%;
    }
    #content button {
        margin-top: 90px;
        margin-left: 25%;
        width: 150px;
        height: 30px;
    }
    #content .navbar-text {
        position: absolute;
        margin-top: 80%;
        left: 33%;
        font-size: 10px;
    }
    #content2 {
        top: 100%;
    }
    #content2 .container {
        top: 100px;
      }
    #content2 span {
        font-size: 20px;
        margin-left: 1px;
    }
    #content2 span p {
        font-size: 10px;
        margin-left: 1px;
    }
}